<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marianotraining" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"  >
        </activity>
        <activity
            android:name=".activities.AdministratorActivity" >
        </activity>
        <activity
            android:name=".activities.NormalUserActivity" >
        </activity>
        <activity
            android:name=".activities.PruebaActivity" >
        </activity>
        <activity
            android:name="com.example.marianotraining.ListActivity"
            android:label="@string/title_activity_check_box" >
        </activity>
    </application>

</manifest>
